<!DOCTYPE html>
<%- include("../parts/head")%>
<body class="container">
  <%- include("../parts/header", {pagina: 'Sobre'})%>
  <main>
    <div class="jumbotron">
      <h1>Sobre mim</h1>
      <p>Sou Rafael de Souza programador júnior</p>
    </div>
  </main>
  <%- include("../parts/footer")%>
</body>
</html>